
homebridge/persist/IdentifierCache.B827EBF2F776.json

homebridge/persist/AccessoryInfo.B827EBF2F776.json

*.db

*.log

*.pyc

secrets.yaml

ecobee.conf

entity_registry.yaml

homebridge/config.json

homebridge/accessories/cachedAccessories

appdaemon/appdaemon.yaml
